.infoBoxStatsChart{
    display: flex;
    flex-direction: column;
}

.statsChart{
    position: relative;
}

.background{
    background-image: url('/img/statistics_bg.png');
    background-repeat: no-repeat;
    background-size: 200%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position-y: 0%;
}