.infoBoxStatsChart {
  display: flex;
  flex-direction: column;
}

.statsChart {
  position: relative;
}

.loadingSkeleton {
  height: 58.6rem;
}

.flex {
  display: flex;
  flex-direction: column;
}
