.pagination{
    display: flex;
    margin: auto;
    width: 45%;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--space-md);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    list-style: none;
}

.disabled{
    display: none;
}

.selectedPage{
    border: 1px solid var(--gray-700);
    background-color: var(--blue-rgb-650);
    border-radius: var(--ifm-global-radius);
    padding: var(--space-sm);
    color: var(--ifm-color-emphasis-0);
}

.paginationItem{
    cursor: pointer;
    font-size: var(--custom-font-size-xs);
}

.paginationItem:not(.selectedPage) a{
    padding: var(--space-sm);
    color: var(--ifm-color-primary);
}

.paginationNext a, .paginationPrevious a{
    color: var(--ifm-color-primary);
    padding: var(--space-md);
}

.paginationNext{
   border-left: 1px solid var(--gray-700);
}

.paginationPrevious{
    border-right: 1px solid var(--gray-700);
 }