.inputText {
    width: 100%;
    height: 72px;
    padding: 15px 20px 18px 57px;
    font-family: var(--regular-font-family);
    font-size: var(--subheading-font-size-mobile);
    border-radius: var(--ifm-global-radius);
    border: 1px solid var(--gray-700);
    color: var(--gray-700); 
    background-color: var(--white);
    transition: all 0.1s ease-in-out 0s;
    
}

.inputText:focus-visible{
    border: 1px solid var(--gray-100);
}

.inputText::placeholder {
    color: var(--gray-700); 
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }

  .searchDark{
    background-color: var(--dark-rgb-600);
    color: var(--white);
    padding: 14px 16px;
    height: 52px;
  }
  
  .icon {
    position: absolute;
   left: 4%;
  top: 50%; 
  transform: translate(-50%, -50%); 
    pointer-events: none; 
    height: 30%;
  }

  .smallIcon{
    left: 6%;
    height: 25%;
    svg{
      width: 18px;
      height: 18px;
    }
  }

  
.inputWithIcon {
    padding-left: 30px; 
  }