.inputText {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: var(--regular-font-family);
  font-size: var(--subheading-font-size-mobile);
  border-radius: var(--ifm-global-radius);
  border: 1px solid #363636;
  color: var(--gray-700);
  background-color: var(--white);
  transition: all 0.1s ease-in-out 0s;
  box-sizing: border-box; 
}

.inputText:focus-visible {
  border: 1px solid var(--gray-100);
}

.inputText::placeholder {
  color: var(--ifm-subheading-color);
}

.inputContainer {
  justify-content: center;
  width: 100%;
}

.searchDark {
  background-color: var(--dark-rgb-600);
  color: var(--white);
  padding: 0.9rem 1rem; 
  height: 3.2rem;
}

.icon {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  height: 30%;
}

.smallIcon {
  left: 6%;
  height: 25%;
  svg {
    width: 1.2rem; 
    height: 1.2rem;
  }
}

.mobileIcon {
  left: 9%;
  top: 54%;
}

.inputWithIcon {
  padding-left: 2rem;
}

@media screen and (max-width: 768px) {
  .inputText{
    font-size: var( --regular-font-size);
  
  }
  .inputText::placeholder {
    font-size: var( --body-font-size);
  }

  .mobileIconWallet {
    left: 7%;
    top: 56%;
  }


}
