.label {
  font-family: var(--label-font-family);
}

.value{
  font-family: var(--value-font-family);
}

.regular{
  font-family: var(--regular-font-family);
}

.normal {
  font-weight: var(--regular-font-weight);
}

.bold {
  font-weight: var(--bold-font-weight);
}

.text {
  letter-spacing: 0.05em;
}

.white {
  color: var(--white);
}

.gray {
  color: var(--gray-100);
}

.primary {
  color: var(--ifm-color-primary);
}

.titleIndicator {
  position: relative;
  display: flex;
  color: var(--ifm-color-emphasis-0);
}

.titleIndicator:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 2px;
  height: 28px;
  background: var(--ifm-color-primary);
}

.heading1 {
  font-size: var(--h1-font-size-desktop);
  line-height: var(--h1-lineHeight-desktop);
}

.heading2 {
  font-size: var(--h2-font-size-desktop);
  line-height: var(--h2-lineHeight-desktop);
}

.heading3 {
  font-size: var(--h3-font-size-desktop);
  line-height: var(--h3-lineHeight-desktop);
}

.heading1-tablet {
  font-size: var(--h1-font-size-tablet);
  line-height: var(--h1-lineHeight-tablet);
}

.heading2-tablet {
  font-size: var(--h2-font-size-tablet);
  line-height: var(--h2-lineHeight-tablet);
}

.heading3-tablet {
  font-size: var(--h3-font-size-tablet);
  line-height: var(--h3-lineHeight-tablet);
}

.heading1-mobile {
  font-size: var(--h1-font-size-mobile);
  line-height: var(--h1-lineHeight-mobile);
}

.heading2-mobile {
  font-size: var(--h2-font-size-mobile);
  line-height: var(--h2-lineHeight-mobile);
}

.heading3-mobile {
  font-size: var(--h3-font-size-mobile);
  line-height: var(--h3-lineHeight-mobile);
}

.subheading-desktop {
  font-size: var(--subheading-font-size-desktop);
  line-height: var(--subheading-lineHeight-desktop);
}

.subheading-tablet {
  font-size: var(--subheading-font-size-tablet);
  line-height: var(--subheading-lineHeight-tablet);
}

.subheading-mobile {
  font-size: var(--subheading-font-size-mobile);
  line-height: var(--subheading-lineHeight-mobile);
}



.body {
  font-size: var(--body-font-size);
  line-height: var(--body-lineHeight);
}

.smallBody {
  font-size: var(--body-small-font-size);
  line-height: var(--body-small-lineHeight);
}

.tinyBody {
  font-size: var(--body-tiny-font-size);
  line-height: var(--body-tiny-lineHeight);
}

.tag {
  font-size: var(--tag-font-size);
  line-height: var(--tag-lineHeight);
  letter-spacing: 2.5px;
}

.CTA {
  font-size: var(--cta-font-size);
  line-height: var(--cta-lineHeight);
}
