.label {
  font-family: var(--label-font-family);
}

.value{
  font-family: var(--value-font-family);
}

.regular{
  font-family: var(--regular-font-family);
}

.normal {
  font-weight: var(--regular-font-weight);
}

.bold {
  font-weight: var(--bold-font-weight);
}

.medium{
  font-weight: var(--medium-font-weight);
}

.largeLineHeight {
  line-height: var(--large-line-height);
}

.smallLineHeight {
  line-height: var(--small-line-height);
}

.normalLineHeight {
  line-height: var(--normal-line-height);
}

.mediumLineHeight {
  line-height: var(--medium-line-height);
}

.extraBold {
  font-weight: var(--extra-bold-font-weight);
}

.semiBold{
  font-weight: var(--semi-bold-font-weight);
}

.regular {
  font-size: var(--regular-font-size);
}

.small {
  font-size: var(--small-font-size);
}

.mediumSize {
  font-size: var(--medium-font-size);
}

.large{
  font-size: var(--large-font-size);
}

.pictureTitle{
  font-size: var(--picture-title-font-size);
}

.letterSpacing {
  letter-spacing: 0.02em;
}

.InsideChartColor {
  color: var(--ifm-InsideChart-color-text);
}

.valueChartColor{
  color: var(--ifm-value-chart-color)
}

.dashboardColor {
  color: var(--ifm-primary-color);
}

.summary{
  color: var(--if-secondary-color)
}

.subheadingColor {
  color: var(--ifm-subheading-color);
}

.secondary{
  color: var(--ifm-secondary-text);
}

.gray {
  color: var(--gray-100);
}

.primary {
  color: var(--ifm-color-primary);
}

.black {
  color: var(--black-800);
}

.titleIndicator {
  position: relative;
  display: flex;
  color: var(--ifm-color-emphasis-0);
}

.titleIndicator:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 2px;
  height: 28px;
  background: var(--ifm-color-primary);
}

.exo {
  font-family: var(--exo-font-family);
}

.zephirum{
  font-family: var(--zephirum-font-family);
}

.heading {
  font-size: var(--ifm-h-font-size);
}

.heading1 {
  font-size: var(--h1-font-size-desktop);
  line-height: var(--h1-lineHeight-desktop);
}

.heading2 {
  font-size: var(--h2-font-size-desktop);
  line-height: var(--h2-lineHeight-desktop);
}

.heading3 {
  font-size: var(--h3-font-size-desktop);
  line-height: var(--h3-lineHeight-desktop);
}

.headingMobile{
  font-size: var( --large-font-size);
}
.heading1-tablet {
  font-size: var(--h1-font-size-tablet);
  line-height: var(--h1-lineHeight-tablet);
}

.heading2-tablet {
  font-size: var(--h2-font-size-tablet);
  line-height: var(--h2-lineHeight-tablet);
}

.heading3-tablet {
  font-size: var(--h3-font-size-tablet);
  line-height: var(--h3-lineHeight-tablet);
}

.heading1-mobile {
  font-size: var(--h1-font-size-mobile);
  line-height: var(--h1-lineHeight-mobile);
}

.heading2-mobile {
  font-size: var(--h2-font-size-mobile);
  line-height: var(--h2-lineHeight-mobile);
}

.heading3-mobile {
  font-size: var(--h3-font-size-mobile);
  line-height: var(--h3-lineHeight-mobile);
}

.subheading-desktop {
  font-size: var(--subheading-font-size-desktop);
  line-height: var(--subheading-lineHeight-desktop);
}

.subheading1{
  font-size: var(--subheading1-font-size-desktop);
  line-height: var(--subheading1-lineHeight-desktop);
}

.subheading-tablet {
  font-size: var(--subheading-font-size-tablet);
  line-height: var(--subheading-lineHeight-tablet);
}

.subheading-mobile {
  font-size: var(--subheading-font-size-mobile);
  line-height: var(--subheading-lineHeight-mobile);
}

.subheading1-mobile {
  font-size: var(--subheading-font-size-tablet);
  line-height: var(--subheading-lineHeight-tablet);
}


.body {
  font-size: var(--body-font-size);
  line-height: var(--body-lineHeight);
}

.smallBody {
  font-size: var(--body-small-font-size);
  line-height: var(--body-small-lineHeight);
}

.tinyBody {
  font-size: var(--body-tiny-font-size);
  line-height: var(--body-tiny-lineHeight);
}

.tag {
  font-size: var(--tag-font-size);
  line-height: var(--tag-lineHeight);
  letter-spacing: 2.5px;
}

.CTA {
  font-size: var(--cta-font-size);
  line-height: var(--cta-lineHeight);
}
