.legalRoot{
    width: 90vw;
    text-align: left;
}

.legalContent {
    text-align: left;
    padding: 1em;
    background-color: var(--blue-rgb-400);
    color: var(--gray-100);
    border-radius: 1em;
}

.legalTitle{
    font-size: 1.3em;
    font-family: var(--ifm-font-family-base);
    color: var(--ifm-color-emphasis-0);
    margin-bottom: 0.3em;
    letter-spacing: 0.1em;
}

.legalMessage {
    line-height: 1.4em;
    color: var(--gray-100);
}