.title{
    color: var(--ifm-color-emphasis-0);
}

.smallTitle{
    font-weight: 500;
    color: var(--ifm-color-emphasis-0);
}

.paragraph{
    color: var(--ifm-color-emphasis-300);
    text-align: justify;
}

.description{
    color: var(--ifm-color-emphasis-300);
}

.threeXLarge{
    line-height: 64px;
    font-size: var(--custom-font-size-3xl);
}

.twoXLarge{
    line-height: 64px;
    font-size: var(--custom-font-size-2xl);
}

.xLarge{
    line-height: 48px;
    font-size: var(--custom-font-size-xl);
}

.large{
    line-height: 48px;
    font-size: var(--custom-font-size-lg);
}

.medium{
    line-height: var(--ifm-line-height-base);
    font-size: var(--custom-font-size-m);
}

.small{
    line-height: var(--ifm-line-height-base);
    font-size: var(--custom-font-size-s);
}

.xSmall{
    line-height: var(--ifm-line-height-base);
    font-size: var(--custom-font-size-xs);
}

.rightText{
    text-align: right;
}

.centerText{
    text-align: center;
}

.leftText{
    text-align: left;
}

.regularText{
    font-family: var(--custom-regular-font-family);
}

.boldText{
    font-family: var(--custom-bold-font-family);
}

.text{
    display: inline-flex;
    vertical-align: super;
    letter-spacing: -.2px;
}

.titleIndicator{
    position: relative;
    display: flex;
    color: var(--ifm-color-emphasis-0);
}

.titleIndicator:before{
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 2px;
    height: 28px;
    background: var(--ifm-color-primary);
}

