.startMining{
   
    text-align: center;
    border-radius: var(--ifm-global-radius);
}

.startMiningContent{
    padding-top: var(--space-xxs);
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    padding:var(--space-xs)!important;
    min-width:215px;
}

.linkButton{
    font-family: var(--regular-font-family);
    font-weight: var(--bold-font-weight);
    

}