.boardContainer{
    /* padding: var(--space-xs); */
    width: auto;
}
    
.content{
    height: 58px;
    /* padding: 15px var(--space-xs) 20px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(--blue-100); */
    /* border-radius: 10px; */
    width: 100%;
}

.boardItem{
    display: flex;
}

