.boardContainer.boardContainerPayments {
  padding: 1em 0;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.boardContainer.boardContainerPayments .content {
  flex-direction: column;
  gap: 0;
}

.boardTotal {
  flex-direction: column;
}

.boardTitle {
  margin-right: 0.2em;
}

.boardClassNameColumn {
  flex-direction: column !important;
}
