.boardContainer.boardContainerPayments {
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--space-xxs);
}

.boardContainer.boardContainerPayments .content {
  flex-direction: column;
}

.boardTotal {
  flex-direction: column;

}


.boardClassNameColumn {
  flex-direction: column !important;
}

.boardClassNameColumnMobile {
  height: 81px;
}
