.background{
    /* background-image: url('/img/statistics_bg.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
}

.backgroundPos-10{
    background-position-y: -10%;
}

.backgroundPos-40{
    background-position-y: 40%;
}