.mapChartLocationPlace{
    position: relative;
}

.fullWidth{
    width: 100%;
}

.loadingSkeleton{
    min-height: 615px;
    width: 100%;
}

.loadingPlaceholder{
    position: static;
}

.directionRtl{
    direction: rtl;
}

.directionLtr{
    direction: ltr;
}

.horizontalLine{
    height: 1px;
    background:  #FFFFFF40;
    width: 200%;
    position: relative;
    left: -50%;
}

@media screen and (max-width: 768px){
    .horizontalLine{
        background: linear-gradient(to right, #FFFFFF40 25%, #FFFFFF0D 75%);

    }
    
}