.fullWidth {
  width: 100%;
}

.loadingSkeleton {
  min-height: 615px;
  width: 100%;
}

.loadingPlaceholder {
  position: static;
}

.directionRtl {
  direction: rtl;
}

.directionLtr {
  direction: ltr;
}

.horizontalLine {
  height: 1px;
  background: #1f1f1f;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .horizontalLine {
    background: linear-gradient(to right, #1f1f1f 25%, #ffffff0d 75%);
  }
}
