.detailsRow {
    width: 100%;
    margin:auto;
    display: flex;
    align-items: center;
}

.detailsRow:nth-child(even) {
    background-color: var(--blue-rgb-600);
}

.detailsTableCaption {
    padding: var(--space-xs) 0px var(--space-xs) var(--space-lg);
    border-right: 1px solid var(--gray-700);
    width: 50%;
}

.detailsTableValue {
    padding: var(--space-xs) 0px var(--space-xs) var(--space-lg);
    width: 50%;
}