.detailsRow {
  width: 100%;
  height: 3.3rem;
  margin: auto;
  display: flex;
}

.detailsRowLoadingSkeleton {
  height: 3.2rem; 
  width: 100%;
}

.detailsRowContentLoadingSkeleton {
  padding: calc(var(--space-md)/4) 20px calc(var(--space-xs)/2) 20px;
}

.detailsRow:nth-child(odd) {
  background-color: var(--dark-rgb-400);
}

.detailsTableCaption {
  padding:var(--space-xs);
  border-right: 1px solid var(--dark-rgb-border);
  width: 50%;
}

.detailsTableValue {
  padding: var(--space-xs);
  width: 50%;
}
