.navbar-sidebar {
  right: 0;
  width: 100%;
  transform: translate3d(100%, 0, 0);
  top: 60px; /* Adjust this value to the height of your logo and menu button */
  height: calc(100% - 60px); /* Adjust this value to the height of your logo and menu button */
}

.navbar-sidebar--show .navbar-sidebar {
  transform: translate3d(0, 0, 0);
  width: 100%;
}