.navbar-sidebar {
    right: 0px;
    width: 0px;
    transform: translate3d(80%, 0, 0);
  }
  
  .navbar-sidebar--show .navbar-sidebar {
    transform: translate3d(21%, 0, 0);
    width: auto;
  }
  