.stepsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .step {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .stepNumber {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .title {
    margin: 0 0 10px 0;
    font-size: var(--medium-font-size);
    font-weight: var( --semi-bold-font-weight);
  }
  
  .text {
    margin: 0 0 10px 0;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }