.stepsContainer {
  align-items: center;
    gap: 20px;
  }
  
  .step {
    padding: 8px;
    border-radius: 5px;
    width: 65%;
    height: auto;
    border-bottom: 1px solid #292929;
    margin-bottom: var(--space-xs);
  }
  
  .stepNumber {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .title {
    margin: 0 0 10px 0;
    font-size: var(--medium-font-size);
    font-weight: var( --semi-bold-font-weight);
  }
  
  .text {
    margin: 0 0 10px 0;
  }

  .buttonLinkContainer{
    margin-left: 29px;
  }
  
  .linkSteps{
    
    align-items: center;
    cursor: pointer;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
    /* padding-left: calc(var(--space-xs) / 2); */
  }
  
  .image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
  .warning {
    background-color: #1B190C;
    border: 1px solid #746010;
    color: #FACA15;
    padding: 13px 12px;
    border-radius: 8px;
    margin-left: 31px;
    margin-top: -9px;
   
  }

  