.panelContent{
    padding: var(--space-md) var(--space-lg);
}

.infoPanel{
    justify-content: space-between;
}

.mobileInfoPanel{
    align-items: center;
}

.lineFlex{
    display: flex;
    flex-wrap: wrap;
}

.alignItemsCenter{
    align-items: center;
}

.justifyContentCenter{
    justify-content: center;
}

.coreMiner{
    margin: auto;
    background-color: var(--blue-rgb-600);
    padding: 0px;
}

.input{
    color:var(--ifm-color-primary)!important;
}

.buttonConfigLessPadding{
    padding-inline: calc(var(--space-xs) / 4);
}

.buttonConfig{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.buttonConfigAmong{
    margin-inline: var(--space-md);
}

.marginAuto{
    margin:auto;
}

.dropdownHeader{
    font-size: var( --h3-font-size-desktop);
    color: var(--white);
    justify-content: space-between;
    cursor: pointer;
  
    padding: 8px 0 11px 0;
   
}

.poolTable{
    position: relative;
}

.poolTable::after {
    content: "";
    position: absolute;
   bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: #363636;
  }

  

.poolContainer{
    width: 65%;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .poolContainer{
        width: 96%;
    }

    /* .dropdownHeader{
        width: 76%;
    } */
    
}