.pictureTitleRoot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.pictureImg {
  margin-bottom: 1rem;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
}
