.pictureTitleRoot{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.flexColumn{
    flex-direction: column;
    .pictureImg{
        margin-bottom: 5px;
    }
}

.flexStart{
    justify-content: flex-start;
    
}