.singleColumnValue {
    padding: var(--space-xs) 0px var(--space-xs) var(--space-lg);
    display: flex;
}

.singleColumnValue:nth-child(even) {
    background-color: var(--blue-rgb-500);
}

.singlePanel{
    cursor:auto;
}