
.locations{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
   
  }

  .flexEnd{
    justify-content: flex-end !important;
  }

.mapPin {
}

.pinWrapper{
  position: absolute;
  top:30%;
  width: 100%;
  left:0px;
  height: 126px;
}

.bgImage{
  height: 100%;
  width: 84%;
  top: -28px;
  position: relative;
  right: 13px;
}

.bgImageMobile{
  right: 0px;
  top: -18px;
  width: 78%;
}
