
.skeletonBorderItem{
  height: 5.5rem;
  padding: var(--space-xs);
}

.borderRadius{
  border-radius: var(--ifm-global-radius);
}

.justifyCenter{
  justify-content: center;
}

.justifySpaceBetween{
  justify-content: space-evenly;
}
