.listRoot{
    position: relative;
  
    overflow: hidden; 
}
.blocksListRoot{
    border-radius: var(--ifm-global-radius);
}

.blocksContext{
    border-radius: var(--ifm-global-radius);
}

.tableWrapper{
    width: 100%; 
    /* max-width: 1200px; 
    margin: 0 auto; */
    overflow-x: auto;
}

.listMarginInlineMobile{
    margin-inline: calc(var(--space-xs) / 2);
}

.paginationWrapper{
    width: 100%;
}

