.listRoot{
    position: relative;
}

.tableWrapper{
    width: 98%; 
    max-width: 1200px; 
    margin: 0 auto;
    overflow-x: auto;
}

.listMarginInlineMobile{
    margin-inline: calc(var(--space-xs) / 2);
}

.paginationWrapper{
    width: 100%;
}