.button{
  box-sizing: border-box;
  display: flex;
  background: none;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  color: var(--ifm-color-primary);
  padding: var(--space-xxs) var(--space-sm);
  text-align: center;
  white-space: nowrap;
  border: none;
  justify-content: center;
  align-items: center;
}


.buttonIcon{
  vertical-align: baseline;
  padding-right: calc(var(--space-xs) / 2);
  svg path{
    fill: var(--ifm-color-primary);
  }

}

.buttonIcon:hover{
  svg path{
    fill: var(--ifm-search-btn-hover);
  }
}

.small{
  padding: calc(var(--space-xs) / 2);
}

.medium{
  padding: var(--space-md);
  min-width: 215px;
}

.large{
  /* padding: var(--space-lg) var(--space-xs) */
}

.full{
  width: 100%
}

.button:focus {
  outline: none;
}

.button:hover {
  border: none;
  background-color: transparent;
}

.outline{
  background-color: transparent;
}

.outline:hover{
  background-color: transparent;
}

.transparent{
  min-width: 0;
  background-color: var(--blue-rgb-900);
  backdrop-filter: blur(6px);
  transition: transform 0.3s;
}

.transparent:hover{
  transform: scale(1.05);
  backdrop-filter: blur(18px);
}

.email{
  background-color: var(--blue-rgb-600);
}

.email:hover{
  background-color: var(--blue-rgb-700);
}

.configButton{
  width: 27%;
  padding: var(--space-xxs) var(--space-sm);
}

.mobileWalletButton{
  padding: calc(var(--space-xs) / 2) var(--space-sm);

}


@media screen and (max-width: 768px) {
  .configButton{
    width: 100%;
  }
}