  .button{
      box-sizing: border-box;
      display: flex;
      background: none;
      cursor: pointer;
      user-select: none;
      border-radius: 10px;
      color: var(--white);
      padding: var(--space-xs);
      text-align: center;
      white-space: nowrap;
      border: 1px solid var(--blue-rgb-700);
      justify-content: center;
  }

  .buttonIcon{
    vertical-align: baseline;
    padding-right: var(--space-sm);
  }

  .small{
    padding: calc(var(--space-xs) / 2);
  }

  .medium{
    padding: var(--space-md);
    min-width: 215px;
  }

  .large{
    padding: var(--space-lg) var(--space-xs)
  }

  .full{
    width: 100%
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover {
    border: 1px solid var(--gray-700);
    background-color: var(--blue-rgb-700);
  }
  
  .outline{
    background-color: var(--blue-rgb-500);
  }

  .outline:hover{
    background-color: var(--blue-rgb-700);
  }

  .transparent{
    min-width: 0;
    background-color: var(--blue-rgb-900);
    backdrop-filter: blur(6px);
    transition: transform 0.3s;
  }

  .transparent:hover{
    transform: scale(1.05);
    backdrop-filter: blur(18px);
  }

  .email{
    background-color: var(--blue-rgb-600);
  }

  .email:hover{
    background-color: var(--blue-rgb-700);
  }