.footerLayout {
  margin-bottom: var(--space-md);
}

.mobileFooterLayout {
  display: flex;
  flex-direction: column;
}

.customLogoText {
  margin-top:var(--space-lg);
}

.footer {
  background-color: transparent;
  padding-bottom: 0px;
  padding-inline: 0px;
}

.footerLinks {
  position: relative;
}

.footerLinks::after {
  content: "";
  position: absolute;
  top: 118%;
  left: 48%;
  transform: translateX(-50%);
  width: 100%;
  border-top: 1px solid rgba(54, 54, 54, 1);
}

.footerCopyWrite {
  padding-block: var(--space-sm);
  position: relative;
  padding-top: 40px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.downloadBtns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.googlePlayImage {
  width: 119px;
  height: 40px;
}

@media (min-width: 768px) {
  .downloadBtns {
    width: max-content;
  }
}

@media (max-width: 767px) {
  .downloadBtns {
    span {
      width: auto;
    }
    align-items: center;
  }

  .footerCopyWrite {
    padding-block: var(--space-md);
  }

  .footerCopyWrite::before {
    top: 7px;
    left: 50%;
    width: 91%;
  }
}
