.block {
  background: linear-gradient(
    83.31deg,
    #1b1c1c 42.05%,
    rgba(22, 199, 132, 0.33) 358.63%
  );
  padding: var(--space-sm);
  margin: var(--space-xs);
  border-radius: var(--ifm-global-radius);
}

.link {
  text-decoration: none;
  color: var(--ifm-color-primary);
}
