@media only screen and (max-width: 319px) {
    .content{
        width: var(--content-width);
    }

    .xs-center-text{
       text-align: center;
    }

    .xs-center-items{
        justify-content: center;
    }

    .xs-hide{
        display: none!important;
    }

    .xs-text-center{
        text-align: center;
    }

    .xs-grid-col--1{
        grid-template-columns: repeat(1, 1fr);
    }

    .xs-grid-col--2{
        grid-template-columns: repeat(2, 1fr);
    }

    .xs-grid-col--3{
        grid-template-columns: repeat(3, 1fr);
    }

    .xs-grid-col--4{
        grid-template-columns: repeat(4, 1fr);
    }

    .xs-grid-col--5{
        grid-template-columns: repeat(5, 1fr);
    }

    .xs-grid-col--6{
        grid-template-columns: repeat(6, 1fr);
    }

    .xs-grid-col--7{
        grid-template-columns: repeat(7, 1fr);
    }

    .xs-grid-col--8{
        grid-template-columns: repeat(8, 1fr);
    }

    .xs-grid-col--9{
        grid-template-columns: repeat(9, 1fr);
    }

    .xs-grid-col--10{
        grid-template-columns: repeat(10, 1fr);
    }

    .xs-grid-col--11{
        grid-template-columns: repeat(11, 1fr);
    }

    .xs-grid-col--12{
        grid-template-columns: repeat(12, 1fr);
    }

    .xs-grid-span-col--2{
        grid-column: span 2;
    }

    .xs-grid-span-col--3{
        grid-column: span 3;
    }

    .xs-grid-span-col--4{
        grid-column: span 4;
    }

    .xs-grid-span-col--5{
        grid-column: span 5;
    }

    .xs-grid-span-col--6{
        grid-column: span 6;
    }

    .xs-grid-span-col--7{
        grid-column: span 7;
    }

    .xs-grid-span-col--8{
        grid-column: span 8;
    }

    .xs-grid-span-col--9{
        grid-column: span 9;
    }

    .xs-grid-span-col--10{
        grid-column: span 10;
    }

    .xs-grid-span-col--11{
        grid-column: span 11;
    }

    .xs-grid-span-col--12{
        grid-column: span 12;
    }

    .xs-flex-col--2{
        width: calc((2/12) * 100%);
    }

    .xs-flex-col--3{
        width: calc((3/12) * 100%);
    }

    .xs-flex-col--4{
        width: calc((4/12) * 100%);
    }

    .xs-flex-col--5{
        width: calc((5/12) * 100%);
    }

    .xs-flex-col--6{
        width: calc((6/12) * 100%);
    }

    .xs-flex-col--7{
        width: calc((7/12) * 100%);
    }

    .xs-flex-col--8{
        width: calc((8/12) * 100%);
    }

    .xs-flex-col--9{
        width: calc((9/12) * 100%);
    }

    .xs-flex-col--10{
        width: calc((10/12) * 100%);
    }

    .xs-flex-col--11{
        width: calc((11/12) * 100%);
    }

    .xs-flex-col--12{
        width: calc((12/12) * 100%);
    }

}

@media only screen and (min-width: 320px) and (max-width: 639px) {
    .content{
        width: var(--content-width);
    }

    .sm-center-text{
        text-align: center;
     }

    .sm-center-items{
        justify-content: center;
     }

    .sm-hide{
        display: none!important;
    }

    .sm-text-center{
        text-align: center;
    }

    .sm-grid-col--1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sm-grid-col--2{
        grid-template-columns: repeat(2, 1fr);
    }

    .sm-grid-col--3{
        grid-template-columns: repeat(3, 1fr);
    }

    .sm-grid-col--4{
        grid-template-columns: repeat(4, 1fr);
    }

    .sm-grid-col--5{
        grid-template-columns: repeat(5, 1fr);
    }

    .sm-grid-col--6{
        grid-template-columns: repeat(6, 1fr);
    }

    .sm-grid-col--7{
        grid-template-columns: repeat(7, 1fr);
    }

    .sm-grid-col--8{
        grid-template-columns: repeat(8, 1fr);
    }

    .sm-grid-col--9{
        grid-template-columns: repeat(9, 1fr);
    }

    .sm-grid-col--10{
        grid-template-columns: repeat(10, 1fr);
    }

    .sm-grid-col--11{
        grid-template-columns: repeat(11, 1fr);
    }

    .sm-grid-col--12{
        grid-template-columns: repeat(12, 1fr);
    }

    .sm-grid-span-col--2{
        grid-column: span 2;
    }

    .sm-grid-span-col--3{
        grid-column: span 3;
    }

    .sm-grid-span-col--4{
        grid-column: span 4;
    }

    .sm-grid-span-col--5{
        grid-column: span 5;
    }

    .sm-grid-span-col--6{
        grid-column: span 6;
    }

    .sm-grid-span-col--7{
        grid-column: span 7;
    }

    .sm-grid-span-col--8{
        grid-column: span 8;
    }

    .sm-grid-span-col--9{
        grid-column: span 9;
    }

    .sm-grid-span-col--10{
        grid-column: span 10;
    }

    .sm-grid-span-col--11{
        grid-column: span 11;
    }

    .sm-grid-span-col--12{
        grid-column: span 12;
    }

    .sm-flex-col--2{
        width: calc((2/12) * 100%);
    }

    .sm-flex-col--3{
        width: calc((3/12) * 100%);
    }

    .sm-flex-col--4{
        width: calc((4/12) * 100%);
    }

    .sm-flex-col--5{
        width: calc((5/12) * 100%);
    }

    .sm-flex-col--6{
        width: calc((6/12) * 100%);
    }

    .sm-flex-col--7{
        width: calc((7/12) * 100%);
    }

    .sm-flex-col--8{
        width: calc((8/12) * 100%);
    }

    .sm-flex-col--9{
        width: calc((9/12) * 100%);
    }

    .sm-flex-col--10{
        width: calc((10/12) * 100%);
    }

    .sm-flex-col--11{
        width: calc((11/12) * 100%);
    }

    .sm-flex-col--12{
        width: calc((12/12) * 100%);
    }

}

@media only screen and (min-width: 640px) and (max-width: 1039px) {

    .content{
        width: var(--content-width);
    }

    .md-center-text{
        text-align: center;
     }

     .md-center-items{
        justify-content: center;
     }

    .md-hide{
        display: none!important;
    }

    .md-text-center{
        text-align: center;
    }

    .md-grid-col--1{
        grid-template-columns: repeat(1, 1fr);
    }

    .md-grid-col--2{
        grid-template-columns: repeat(2, 1fr);
    }

    .md-grid-col--3{
        grid-template-columns: repeat(3, 1fr);
    }

    .md-grid-col--4{
        grid-template-columns: repeat(4, 1fr);
    }

    .md-grid-col--5{
        grid-template-columns: repeat(5, 1fr);
    }

    .md-grid-col--6{
        grid-template-columns: repeat(6, 1fr);
    }

    .md-grid-col--7{
        grid-template-columns: repeat(7, 1fr);
    }

    .md-grid-col--8{
        grid-template-columns: repeat(8, 1fr);
    }

    .md-grid-col--9{
        grid-template-columns: repeat(9, 1fr);
    }

    .md-grid-col--10{
        grid-template-columns: repeat(10, 1fr);
    }

    .md-grid-col--11{
        grid-template-columns: repeat(11, 1fr);
    }

    .md-grid-col--12{
        grid-template-columns: repeat(12, 1fr);
    }

    .md-grid-span-col--2{
        grid-column: span 2;
    }

    .md-grid-span-col--3{
        grid-column: span 3;
    }

    .md-grid-span-col--4{
        grid-column: span 4;
    }

    .md-grid-span-col--5{
        grid-column: span 5;
    }

    .md-grid-span-col--6{
        grid-column: span 6;
    }

    .md-grid-span-col--7{
        grid-column: span 7;
    }

    .md-grid-span-col--8{
        grid-column: span 8;
    }

    .md-grid-span-col--9{
        grid-column: span 9;
    }

    .md-grid-span-col--10{
        grid-column: span 10;
    }

    .md-grid-span-col--11{
        grid-column: span 11;
    }

    .md-grid-span-col--12{
        grid-column: span 12;
    }

    .md-flex-col--2{
        width: calc((2/12) * 100%);
    }

    .md-flex-col--3{
        width: calc((3/12) * 100%);
    }

    .md-flex-col--4{
        width: calc((4/12) * 100%);
    }

    .md-flex-col--5{
        width: calc((5/12) * 100%);
    }

    .md-flex-col--6{
        width: calc((6/12) * 100%);
    }

    .md-flex-col--7{
        width: calc((7/12) * 100%);
    }

    .md-flex-col--8{
        width: calc((8/12) * 100%);
    }

    .md-flex-col--9{
        width: calc((9/12) * 100%);
    }

    .md-flex-col--10{
        width: calc((10/12) * 100%);
    }

    .md-flex-col--11{
        width: calc((11/12) * 100%);
    }

    .md-flex-col--12{
        width: calc((12/12) * 100%);
    }

}

@media only screen and (min-width: 1040px) and (max-width: 1295px) {

    .content{
        width: var(--content-width);
    }

    .lg-center-text{
        text-align: center;
     }

    .lg-hide{
        display: none!important;
    }

    .lg-text-center{
        text-align: center;
    }

    .lg-center-items{
        justify-content: center;
     }

     .lg-grid-template-columns {
        grid-template-columns: 2fr 3fr; /* Adjust the values to make the left container slightly wider */
      }

    .lg-grid-col--1{
        grid-template-columns: repeat(1, 1fr);
    }

    .lg-grid-col--2{
        grid-template-columns: repeat(2, 1fr);
    }

    .lg-grid-col--3{
        grid-template-columns: repeat(3, 1fr);
    }

    .lg-grid-col--4{
        grid-template-columns: repeat(4, 1fr);
    }

    .lg-grid-col--5{
        grid-template-columns: repeat(5, 1fr);
    }

    .lg-grid-col--6{
        grid-template-columns: repeat(6, 1fr);
    }

    .lg-grid-col--7{
        grid-template-columns: repeat(7, 1fr);
    }

    .lg-grid-col--8{
        grid-template-columns: repeat(8, 1fr);
    }

    .lg-grid-col--9{
        grid-template-columns: repeat(9, 1fr);
    }

    .lg-grid-col--10{
        grid-template-columns: repeat(10, 1fr);
    }

    .lg-grid-col--11{
        grid-template-columns: repeat(11, 1fr);
    }

    .lg-grid-col--12{
        grid-template-columns: repeat(12, 1fr);
    }

    .lg-grid-span-col--2{
        grid-column: span 2;
    }

    .lg-grid-span-col--3{
        grid-column: span 3;
    }

    .lg-grid-span-col--4{
        grid-column: span 4;
    }

    .lg-grid-span-col--5{
        grid-column: span 5;
    }

    .lg-grid-span-col--6{
        grid-column: span 6;
    }

    .lg-grid-span-col--7{
        grid-column: span 7;
    }

    .lg-grid-span-col--8{
        grid-column: span 8;
    }

    .lg-grid-span-col--9{
        grid-column: span 9;
    }

    .lg-grid-span-col--10{
        grid-column: span 10;
    }

    .lg-grid-span-col--11{
        grid-column: span 11;
    }

    .lg-grid-span-col--12{
        grid-column: span 12;
    }

    .lg-flex-col--2{
        width: calc((2/12) * 100%);
    }

    .lg-flex-col--3{
        width: calc((3/12) * 100%);
    }

    .lg-flex-col--4{
        width: calc((4/12) * 100%);
    }

    .lg-flex-col--5{
        width: calc((5/12) * 100%);
    }

    .lg-flex-col--6{
        width: calc((6/12) * 100%);
    }

    .lg-flex-col--7{
        width: calc((7/12) * 100%);
    }

    .lg-flex-col--8{
        width: calc((8/12) * 100%);
    }

    .lg-flex-col--9{
        width: calc((9/12) * 100%);
    }

    .lg-flex-col--10{
        width: calc((10/12) * 100%);
    }

    .lg-flex-col--11{
        width: calc((11/12) * 100%);
    }

    .lg-flex-col--12{
        width: calc((12/12) * 100%);
    }
}

@media only screen and (min-width: 1296px) {

    .content{
        width: var(--content-width-xl);
    }

    .xl-center-text{
        text-align: center;
     }

    .xl-hide{
        display: none!important;
    }

    .xl-center-items{
        justify-content: center;
     }

    .xl-text-center{
        text-align: center;
    }

    .xl-grid-template-columns {
        grid-template-columns: 3fr 4fr; /* Adjust the values to make the left container slightly wider */
      }

    .xl-grid-col--1{
        grid-template-columns: repeat(1, 1fr);
    }

    .xl-grid-col--2{
        grid-template-columns: repeat(2, 1fr);
    }

    .xl-grid-col--3{
        grid-template-columns: repeat(3, 1fr);
    }

    .xl-grid-col--4{
        grid-template-columns: repeat(4, 1fr);
    }

    .xl-grid-col--5{
        grid-template-columns: repeat(5, 1fr);
    }

    .xl-grid-col--6{
        grid-template-columns: repeat(6, 1fr);
    }

    .xl-grid-col--7{
        grid-template-columns: repeat(7, 1fr);
    }

    .xl-grid-col--8{
        grid-template-columns: repeat(8, 1fr);
    }

    .xl-grid-col--9{
        grid-template-columns: repeat(9, 1fr);
    }

    .xl-grid-col--10{
        grid-template-columns: repeat(10, 1fr);
    }

    .xl-grid-col--11{
        grid-template-columns: repeat(11, 1fr);
    }

    .xl-grid-col--12{
        grid-template-columns: repeat(12, 1fr);
    }

    .xl-grid-span-col--2{
        grid-column: span 2;
    }

    .xl-grid-span-col--3{
        grid-column: span 3;
    }

    .xl-grid-span-col--4{
        grid-column: span 4;
    }

    .xl-grid-span-col--5{
        grid-column: span 5;
    }

    .xl-grid-span-col--6{
        grid-column: span 6;
    }

    .xl-grid-span-col--7{
        grid-column: span 7;
    }

    .xl-grid-span-col--8{
        grid-column: span 8;
    }

    .xl-grid-span-col--9{
        grid-column: span 9;
    }

    .xl-grid-span-col--10{
        grid-column: span 10;
    }

    .xl-grid-span-col--11{
        grid-column: span 11;
    }

    .xl-grid-span-col--12{
        grid-column: span 12;
    }

    .xl-flex-col--1{
        width: calc((1/12) * 100%);
    }

    .xl-flex-col--2{
        width: calc((2/12) * 100%);
    }

    .xl-flex-col--3{
        width: calc((3/12) * 100%);
    }

    .xl-flex-col--4{
        width: calc((4/12) * 100%);
    }

    .xl-flex-col--5{
        width: calc((5/12) * 100%);
    }

    .xl-flex-col--6{
        width: calc((6/12) * 100%);
    }

    .xl-flex-col--7{
        width: calc((7/12) * 100%);
    }

    .xl-flex-col--8{
        width: calc((8/12) * 100%);
    }

    .xl-flex-col--9{
        width: calc((9/12) * 100%);
    }

    .xl-flex-col--10{
        width: calc((10/12) * 100%);
    }

    .xl-flex-col--11{
        width: calc((11/12) * 100%);
    }

    .xl-flex-col--12{
        width: calc((12/12) * 100%);
    }

}
