@import url("colors.css");
@import url("fonts.css");
@import url("spaces.css");
@import url("grid.css");
@import url("breakpoints.css");
@import url("flex.css");

body {
  overflow-x: hidden !important;
}

:root {
  --ifm-table-cell-padding: 13px var(--space-xs);
  --ifm-global-spacing: var(--space-md);
  --ifm-navbar-item-padding-vertical:var(--space-xs);
  --ifm-navbar-item-padding-horizontal:var(--space-xs);
  --ifm-navbar-padding-vertical: 0px;
  --ifm-navbar-padding-horizontal: 0px;
  --ifm-navbar-height: 72px;
  --ifm-global-radius: 8px;
  --ifm-global-radius-large: 15px;
  --ifm-navbar-shadow: rgb(24, 26, 31) 0px 4px 18px 6px;
  --ifm-container-width: 1205px;
  --ifm-container-width-xl: 1440px;
  --ifm-spacing-horizontal: 0px;
  --content-width: 93%;
  --content-width-xl: 79%;
  --ifm-footer-logo-max-width: 256px;
  --ifm-footer-padding-vertical: 8px;
  --ifm-color-primary-background:rgba(2, 2, 2, 1);
  --table-odd-row-background-color: var(--blue-rgb-600);
  --toastify-icon-color-success: var(--ifm-color-primary) !important; 
  --toastify-toast-top: calc(var(--navbar-height, 60px) + var(--infobox-height, 50px)) !important;
  --toastify-color-progress-success: var(--ifm-color-primary) !important;
  --toastify-toast-width: 25rem !important;
  --ifm-navbar-z-index: 1000;
  
}

:root nav.navbar {
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-navbar-background-color: rgba(2, 2, 2, 1);
  --ifm-font-weight-semibold: 600;
  --ifm-color-primary: rgba(22, 199, 132, 1);
  --subheading-lineHeight-desktop: 1.5rem;
}

h1, h2, h3 {
  margin: 0px;
}

.content {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.whitespace-normal {
  white-space: normal!important;
}

.remove-padding-inline {
  padding-inline: 0px;
}

.link-button {

  cursor: pointer;

  border-radius: 10px;
  color: var(--black-800);
  font-weight: var(--medium-font-weight);
  padding: var(--space-xxs) var( --space-sm);
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--blue-rgb-700);
  background-color: var(--ifm-color-primary);

}

.link-button:hover {
  border: 1px solid var(--gray-700);
  background-color: var(--ifm-search-btn-hover);
  color: var(--black-800);
  text-decoration: none;
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: var(--margin-xs);
}
.mr-2 {
  margin-right: var(--margin-sm);
}
.mr-3, .mr {
  margin-right: var(--margin-md);
}
.mr-4 {
  margin-right: var(--margin-lg);
}
.mr-5 {
  margin-right: var(--margin-xl);
}
.mr-6 {
  margin-right: var(--margin-xxl);
}
.mr-7 {
  margin-right: var(--margin-xxxl);
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: var(--margin-xs);
}
.ml-2 {
  margin-left: var(--margin-sm);
}
.ml-3, .ml {
  margin-left: var(--margin-md);
}
.ml-4 {
  margin-left: var(--margin-lg);
}
.ml-5 {
  margin-left: var(--margin-xl);
}
.ml-6 {
  margin-left: var(--margin-xxl);
}
.ml-7 {
  margin-left: var(--margin-xxxl);
}

.footer__copyright > a {
  color: var(--ifm-subheading-color);
}
