@font-face {
  font-family: "Orbitron";
  src: url("/fonts/orbitron.woff2");
}

:root {
  --regular-font-family: Orbitron, sans-serif;
  --orbitron-font-family: Orbitron;
  --label-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --value-font-family: Arial, Calibri;
  --custom-font-size-navbar-item: var(--custom-font-size-s);

  --ifm-font-family-base: var(--regular-font-family);
  --ifm-font-family-bold: var(--bold-font-family);
  --ifm-font-weight-semibold: var(--bold-font-weight);

  --h1-font-size-desktop: 2.714rem; /* heading 1 38px */
  --h1-lineHeight-desktop: 3.2rem;

  --h2-font-size-desktop: 1.571rem; /* heading 2  22px*/
  --h2-lineHeight-desktop: 2.4rem;

  --h3-font-size-desktop: 1.429rem; /* heading 3  20px*/
  --h3-lineHeight-desktop: 1.6rem;

  --h1-font-size-tablet: 1.571rem; /* heading 1 */
  --h1-lineHeight-tablet: 2.4rem;

  --h2-font-size-tablet: 1.429rem; /* heading 2 */
  --h2-lineHeight-tablet: 1.6rem;

  --h3-font-size-tablet: 1.1rem; /* heading 3 */
  --h3-lineHeight-tablet: 1.4rem;

  --h1-font-size-mobile: 1.571rem;
  --h1-lineHeight-mobile: 2.4rem;

  --h2-font-size-mobile: 1.429rem;
  --h2-lineHeight-mobile: 1.6rem;

  --h3-font-size-mobile: 1.1rem;
  --h3-lineHeight-mobile: 1.4;

  --subheading-font-size-desktop: 1.286rem; /* subheading 18px */
  --subheading-lineHeight-desktop: 1.4rem;

  --subheading-font-size-tablet: 1.143rem; /* subheading 18px */
  --subheading-lineHeight-tablet: 1.4rem;

  --subheading-font-size-mobile: 1rem; /* subheading 18px */
  --subheading-lineHeight-mobile: 1.2rem;

  --body-font-size: 1.143rem; /* Body 1 16px */
  --body-lineHeight: 1.6rem;

  --body-small-font-size: 1rem; /* Body 2 14px */
  --body-small-lineHeight: 1.2rem;

  --body-tiny-font-size: 0.857rem; /* Body 3 12px */
  --body-tiny-lineHeight: 1.2rem;

  --tag-font-size: 0.786rem; /* tag 11px */
  --tag-lineHeight: 0.8rem;

  --cta-font-size: 0.786rem; /* cta 11px */
  --cta-lineHeight: 1.2rem;

  --bold-font-weight: 600;
  --regular-font-weight: 400;
  --ifm-font-weight-semibold: var(--regular-font-weight);

  --ifm-h1-font-size: 2.8rem;
  --ifm-h2-font-size: 2rem;
  --ifm-h3-font-size: 1.2rem;
}

html {
  font-size: 14px!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
