.emailButtonsContainer {
  display: flex;
  flex-wrap: wrap;
}

.emailRow {
  display: flex;
  align-items: center;
}

.emailValueDesktop {
  padding: var(--space-md) 0px var(--space-md) var(--space-lg);
}

.emailValueTablet {
  padding: var(--space-md) 0px var(--space-md) var(--space-sm);
}

.emailValueMobile {
  padding: var(--space-md) 0px var(--space-md) var(--space-xs);
}
