.block {
  padding: var(--space-sm);
  padding-right: 0;
  background-color: var(--ifm-background-color);
  border-radius: var(--ifm-global-radius);
}

.emailValueDesktop {
  display: flex;
  flex-direction: column;
}

.emailValueTablet {
  display: flex;
  flex-direction: column;
}

.emailValueMobile {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: var(--ifm-link-color);
  transition: color 0.3s ease;
  position: relative;
}

.link:hover {
  color: var(--ifm-link-hover-color);
}

@media screen and (max-width: 768px) {
  .block {
    padding: var(--space-sm);
  }
}
