.panelRoot{
    border:1px solid var(--blue-600);
    border-radius: var(--ifm-global-radius);
    flex-grow: 1;
}

.panelTitleBase{
    width: 94%;
    border-bottom: 1px solid var(--blue-600);
}

.panelTitle {
    margin: auto;
    padding: var(--custom-space-lg) var(--custom-space-md);
}

.panelContent{
    padding: var(--custom-space-md) var(--custom-space-lg);
}
