.searchDivWrapper {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 15px;
    overflow: hidden; 
  }

  .searchDivWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99%;
    border-radius: 15px;
    padding: 1px; /* Adjust the padding to control the border thickness */
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 0; /* Ensure the pseudo-element is below the content */
  }

  .searchDivWrapperMobile{
    margin: 0 auto;
    width: 97%;
    bottom: 7px;
  }
  
  .searchDiv {
    border-radius: 15px;
    background-color: rgba(20, 20, 20, 1);
    padding: 0px 39px 0 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    height: 99px;
    align-items: center;
  }
  
  .searchDivMobile{
    height: 195px;
    padding: 24px 24px 27px 24px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .searchButton {
    padding: 10px 20px;
    background-color: var(--ifm-guide-btn-color);
    color: var( --ifm-search-btn-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 22;
    font-size: var(--body-small-font-size);

  }
  a:hover{
    text-decoration: none;
    color: var( --ifm-search-btn-color);
    
  }
  .searchButton:hover {
    background-color: var( --ifm-guide-btn-hover)
  }

  .searchButtonMobile{
    width: 100%;
    text-align: center;
  }