.placeholder {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: var(--gray-700);
  position: relative;
  border-radius: var(--ifm-global-radius);
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animatedBackground {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(
    to right,
    var(--gray-700) 10%,
    var(--ocean-blue) 18%,
    var(--gray-700) 33%
  );
  background-size: 2000px 104px;
  height: 100%;
  position: absolute;
  width: 100%;
  border-radius: var(--ifm-global-radius);
}
