.justifyCenter {
  justify-content: center;
}

.iBan {
  white-space: normal;
  line-break: anywhere;
  padding-top: calc(var(--space-xs) / 2);
}

.iBanPaddingBottom {
  padding-bottom: var(--space-xs);
}

.iBanRoot {
  align-items: center;
  text-align: center;
}
