.justifyCenter{
    justify-content: center;
}

.iBan{
    white-space: normal;
    line-break: anywhere;
    font-family: var(--regular-font-family);
    padding-right: var(--space-xs);
    padding-top: calc(var(--space-xs) / 2);
}

.iBanPaddingBottom{
    padding-bottom: var(--space-xs);
}

.iBanRoot{
    align-items: center;
    text-align: center;
}