.navbarItem {
  padding: 14px 20px 14px 20px;
  justify-content: left;
  margin-left: 25px;
  color: var(--white);
  font-size: var( --subheading-font-size-tablet);
  list-style: var(--subheading-lineHeight-desktop);
  font-weight: var(--bold-font-weight);
}

.navbarItemMobile{
  margin-left: 0px;
  margin-top: 30px;
 
}

.navbarItem:hover {
  color: var(--ifm-color-primary);
}

.startMiningLink{
  color: var(--ifm-color-primary)!important;
  font-size: var( --subheading-font-size-desktop);
  background-color: #062A1C;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
 
}

.activeNavStartMiningItemLink:before{
  border-bottom: 1px solid var(--ifm-color-primary)!important;
}

.activeNavItemLink{
  position: relative;
}

.activeNavItemLink:before{
  content: '';
  border-bottom: 1px solid var(--white);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  top:-1px;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuList li:last-child {
  width: 100% !important;
}