.navbarItem {
  justify-content: left;
  color: var(--white);
  font-size: var(--subheading-font-size-tablet);
  list-style: var(--subheading-lineHeight-desktop);
  font-weight: var(--bold-font-weight);
}



.navbarItem:hover {
  color: var(--ifm-color-primary);
}

.startMiningLink{
  color: var(--ifm-color-primary);
  font-size: var(--subheading-font-size-desktop);
  background-color: #062A1C;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--space-xxs);
}

.activeNavStartMiningItemLink:before{
  border-bottom: 1px solid var(--ifm-color-primary);
}

.activeNavItemLink{
  position: relative;
}



.menuList {
  display: flex
  ;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      margin-top: 50px;
}

.menuList li, .menuList li a{
  width: 97%;
  display: flex;    
  justify-content: center;
} 


