.navbarItem {
  justify-content: left;
  color: var(--ifm-color-primary);
  font-size: var(--subheading-font-size-tablet);
  list-style: var(--subheading-lineHeight-desktop);
  font-weight: var(--semibold-font-weight);
}

.navbarItem:hover {
  color: var(--ifm-color-primary);
}

.startMiningLink {
  color: var(--ifm-color-primary);
  font-size: var(--subheading-font-size-desktop);
  background-color: #062a1c;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--space-xxs);
}

.activeNavStartMiningItemLink:before {
  border-bottom: 1px solid var(--ifm-color-primary);
}

.activeNavItemLink {
  position: relative;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.menuList li {
  width: 100%;
  padding: 0.5rem 0;
}

.menuList li a {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
