.searchButton {
    height: 55px;
    width: 68px;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: rgb(255, 255, 255);
    background: rgb(66, 66, 89);
    transition: all 0.1s ease-in-out 0s;
}