

.searchButton {
    height: 48px;
    width: 102px;
    cursor: pointer;
    user-select: none;
    border: none;
    /* border-radius: 0px var(--ifm-global-radius) var(--ifm-global-radius) 0px; */
    border-radius: 8px;
    color: var( --black-800);
    background: var( --ifm-search-btn-color);
    transition: all 0.1s ease-in-out 0s;
    position: absolute;
    font-family: var(--regular-font-family);
    font-size: var(--regular-font-size);
    font-weight: var(--medium-font-weight);
}

.searchButton:hover{
    background-color: var(--ifm-search-btn-hover);
    
}

.searchButtonDesktop{
    right: 9px;
    top: 42px;
}

.searchInputDesktop{
    margin-inline: 69px;
}


.searchButtonMobile{
    right: 0px;
}

.searchInputMobile{
    margin-inline: 0px;
}

.searchInput{
    border-radius: var(--ifm-global-radius);
    padding-right: 90px;
    margin-top: 8px;
}

.search {
    position: relative;
    flex-direction: column;
}

/* styles for wallet overview page */

.searchWallet {
    display: flex;
    width: 91%;
    align-content: center;
}
      
.searchWallet  .searchContainer {
        display: flex;
        justify-content: center;
        position: relative;
      }


    
.searchWallet  .searchInput{
        flex: 1;
        width: 684px;
        height: 52px;
        background-color: var(--dark-rgb-600);
        color: var(--white);
    }

.searchWallet .searchInput::placeholder{
        color: var(--ifm-subheading-color);
    }

.searchWallet .searchButton{
        background-color: var(--ifm-guide-btn-color);
        color: var(--ifm-color-primary);
        border-radius: var(--ifm-global-radius);
        height: 52px;

    }

.searchWallet .searchButton:hover{
        background-color: var(--white);
        color: var(--gray-700);
    }
.searchWallet  .searchButtonDesktop{
    margin-left: -7px;
    left: 82%;
    top: 38%;
    }

    .searchStartMining{
        display: flex;
        width: 90%;
        align-content: center;
    }
 .searchStartMining  .searchContainer {
        display: flex;
        justify-content: center;
        position: relative;
      }
  
.searchStartMining .searchButtonDesktop{
    margin-left: 3px;
    left: 97%;
    top: 15%;
}

.searchStartMining  .searchInput{
    width: 646px;
  
        flex: 1;
       
        height: 52px;
        background-color: var(--dark-rgb-600);
        color: var(--white);
   
}

.searchStartMining  .searchInput::placeholder{
    color: var(--ifm-subheading-color);
}

 .searchStartMining  .searchButton{
    background-color: var(--ifm-guide-btn-color);
    color: var(--ifm-color-primary);
    border-radius: var(--ifm-global-radius);
    height: 52px;

}

 .searchStartMining .searchButton:hover{
    background-color: var(--white);
    color: var(--gray-700);
}