

.searchButton {
    height: 48px;
    width: 102px;
    cursor: pointer;
    user-select: none;
    border: none;
    /* border-radius: 0px var(--ifm-global-radius) var(--ifm-global-radius) 0px; */
    border-radius: 8px;
    color: var( --black-800);
    background: var( --ifm-search-btn-color);
    transition: all 0.1s ease-in-out 0s;
    position: absolute;
    font-family: var(--regular-font-family);
    font-size: var(--regular-font-size);
    font-weight: var(--medium-font-weight);
}

.searchButton:hover{
    background-color: var(--ifm-search-btn-hover);
    
}

.searchButtonDesktop{
    right: 9px;
    top: 42px;
}

.searchInputDesktop{
    margin-inline: 69px;
}


.searchButtonMobile{
    right: 11px;
    top: 28px;
    height: 45px;
    width: 71px;
    font-size: var( --small-font-size);
}

.searchInputMobile{
    margin-inline: 0px;
}

.searchInput{
    border-radius: var(--ifm-global-radius);
    padding-right: 90px;
    margin-top: 8px;
}

.search {
    position: relative;
    flex-direction: column;
}

.mobilePaddingLeft {
    padding-left: 6px;
  }

/* styles for wallet overview page */

.searchWallet {
    display: flex;
    width: 91%;
    align-content: center;
}
      
.searchWallet  .searchContainer {
        display: flex;
        justify-content: center;
        position: relative;
      }


    
.searchWallet  .searchInput{
        flex: 1;
        width: 684px;
        height: 52px;
        background-color: var(--dark-rgb-600);
        color: var(--white);
    }

.searchWallet .searchInput::placeholder{
        color: var(--ifm-subheading-color);
    }

.searchWallet .searchButton{
        background-color: var(--ifm-guide-btn-color);
        color: var(--ifm-color-primary);
        border-radius: var(--ifm-global-radius);
        height: 52px;
      
    }

.searchWallet .searchButton:hover{
        background-color: var(--white);
        color: var(--gray-700);
    }
.searchWallet  .searchButtonDesktop{
    left: 82%;
    top: 38%;
    }

    /* styles for start mining page */

    .searchStartMining{
        display: flex;
        width: 90%;
        align-content: center;
    }
 .searchStartMining  .searchContainer {
        display: flex;
        justify-content: center;
        position: relative;
      }
  
.searchStartMining .searchButtonDesktop{
    margin-left: 3px;
    left: 98%;
    top: 15%;
}

.searchStartMining  .searchInput{
    width: 646px;
  
        flex: 1;
       
        height: 52px;
        background-color: var(--dark-rgb-600);
        color: var(--white);
   
}

.searchStartMining  .searchInput::placeholder{
    color: var(--ifm-subheading-color);
}

 .searchStartMining  .searchButton{
    background-color: var(--ifm-guide-btn-color);
    color: var(--ifm-color-primary);
    border-radius: var(--ifm-global-radius);
    height: 52px;

}

 .searchStartMining .searchButton:hover{
    background-color: var(--white);
    color: var(--gray-700);
}

 /* styles for payments page */
.searchPayments{
    display: flex;
  
    align-content: center;
}

.searchPayments  .searchContainer {
    display: flex;
    justify-content: center;
    position: relative;
  }



.searchPayments  .searchInput{
    flex: 1;
    background-color: var(--dark-rgb-600);
    color: var(--white);
    height: 52px;
    width: 474px;
    padding: 15px 20px 18px 47px;
}

.searchPayments .searchInput::placeholder{
    color: var(--ifm-subheading-color);
}

.searchPayments .searchButton{
    background-color: var(--ifm-guide-btn-color);
    color: var(--ifm-color-primary);
    border-radius: var(--ifm-global-radius);
 
}

.searchPayments .searchButton:hover{
    background-color: var(--white);
    color: var(--gray-700);
}   
.searchPayments  .searchButtonDesktop{
    margin-left: 10px;
    left: 100%;
    top: 38%;
}

.searchWalletMobile {
    width: 98%;
    display: flex;
    flex-direction: column;
  }
  
  .searchContainerWalletMobile {
    width: 98%;
  }
  
  .searchInputWalletMobile {
    width: 100%;
  }
  
  .searchButtonWalletMobile {
    width: 100%;
    margin-top: var(--space-xs);
    right: 0px;
    top: -8px;
    font-size: var(--regular-font-size);
  }

  @media screen and (max-width: 768px) {
   .searchStartMining .searchButtonWalletMobile{
    margin-top: 86px;
    width: 100%;
    right: 0px;
   }

   .searchContainer , .searchStartMining{
    width: 100%;
   }

   


   .searchStartMining  .searchInput{
    width: 100%;
   }

   .searchWallet  .searchButton{
    position: relative;
   }
    
  }

  @media screen and (min-width: 1600px) {
   .searchWallet .searchButtonDesktop{
        margin-left: 0px;
        left: 77%;
    
    }

    .searchStartMining .searchButtonDesktop{
        margin-left: 5px;
        left: 89%;
    
    }
  }